.card-product-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vh auto;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-product button {
    border: none;
    outline: 0;
    padding: 12px 20px;
    color: #fff;
    background-color: #17a572;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-product button:hover {
    opacity: 0.85;
}